:root {
  /*----- GLOBAL VARIABLES-----*/
  --primary-font-color: #0f0f0f;
  --background-color: #f4f4f4;
  --primary-blue: #2b81b9;
  --dark-blue: #567373;
  --light-blue: #0090ff;

  /*----- MOBILE VARIABLES -----*/

  /*----- DESKTOP VARIABLES -----*/
}

/*----- GENERAL STYLING -----*/

html {
  height: 100%;
  width: 100%;
  text-align: center;
  color: var(--primary-font-color);
  font-family: "Abel";
  background-color: var(--background-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  display: none;
}

h2 {
  font-weight: lighter;
}

ul {
  list-style-type: none;
  text-align: left;
}

li,
p {
  line-height: 50px;
  font-size: 16px;
  margin: 0;
}

.button {
  color: var(--background-color);
  background-color: var(--primary-blue);
  border: none;
  padding: 6px;
  border-radius: 8px;
  font-family: "Abel";
  font-size: 16px;
  cursor: pointer;
}

.whitespace {
  height: 25px;
}
@media (min-width: 750px) {
  .whitespace {
    display: none;
  }
}

/*---------------------------*/

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: rgba(0, 0, 0, 0.4);
  height: 55px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the navigation bar */
.tabbar a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

#tabbar-logo {
  height: 55px;
  width: 100%;
}

#tabbar-profile,
#tabbar-help {
  height: 45px;
  width: 100%;
}

.nav-link {
  margin: 0 20px;
}

/* ---------- page styling ---------- */
.page {
  display: none;
  min-height: calc(100vh - 55px);
}

#home {
  background-image: url(../img/sky_2.png);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
}

/*----- help page -----*/

.showmore {
  color: var(--primary-blue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.p_showmore {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  line-height: 20px;
}

.container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 750px) {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .p_showmore {
    width: 270px;
  }
}

/*----- MEDIA QUERIES -----*/

@media (min-width: 750px) {
}
